* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
